<header>
    <nav id="main-nav">
        <ul>
            <li><a class="fancy-nav" href="{{ site.baseurl }}/index.html">home</a></li>
            {% for link in site.categories %}
            <li><a class="fancy-nav" href="{{ site.baseurl }}/categories/{{ link | first | downcase }}">{{ link | first
                }}</a></li>
            {% endfor %}
            <li><a class="fancy-nav" href="{{ site.baseurl }}/pages/about.html">about</a></li>
        </ul>
    </nav>
    
   <div class="site-title-block">  
   	<img src ="/resources/images/blue_owl_120.png" alt="A rendition of me"/>
   	<div class="site-title">
  		<h1>{{ site.title }}</h1>
  		<h1>{{ site.sub-title }}</h1>
  	</div>
   <div>
    
</header>
