<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body style="background: url('{{ site.baseurl }}/resources/images/main_front.jpg') no-repeat fixed;
                            background-size: cover">

<div id="wrapper">
    {% include title-header.html %}

<div id="index-page-wrapper-all-id">
    <div id="index-page-wrapper-left-id">
        <section id = "latest-posts-id">
            <div class = "section-header">Latest {%if page.latest_count == 1 %}Post{% else %}Posts{% endif %}</div>
            {% include latest-posts-preview.html post_count=page.latest_count %}
        </section>

        <section id = "series-id">
             <div class = "section-header">Article Series</div>
            {% include series-preview.html %}
        </section>
    </div>
        
    <section id = "tags_posts_count-id">
        {% include tags-posts-count.html %}
    </section>
</div>
    
    {% include custom-paginator.html %}
    
    <footer>
        {% include footer.html %}
    </footer>
</div>
{% if site.disqus %}
<script id="dsq-count-scr" src="//{{ site.disqus }}.disqus.com/count.js" async></script>
{% endif %}
</body>
</html>
